streamlit
groq
firebase-admin
python-dotenv

pandas
numpy
scikit-learn
networkx
nltk
spacy

pdfplumber
pymupdf
Pillow

sentence-transformers
faiss-cpu
torch
transformers

matplotlib
plotly
requests

bcrypt
python-multipart

streamlit-pdf-viewer