streamlit
groq
firebase-admin
python-dotenv

pandas
numpy
scikit-learn
networkx
nltk

pdfplumber
pymupdf
Pillow

sentence-transformers
faiss-cpu

matplotlib
plotly
requests

bcrypt
streamlit-pdf-viewer